@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron">
    <h1>Contoso Renewable Energy</h1>
</div>
<div class="jumbotron">
    <div class="col-md-4">
        <h2>Welcome to Contoso Renewable Energy Wind Farm Monitoring</h2>
    </div>
    <div class="col-md-4">
        <img src="/images/Windfarm.jpg" style="height:auto;width:auto"/><!-- Sourced from Wikipedia (https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Wind_turbines_in_southern_California_2016.jpg/1200px-Wind_turbines_in_southern_California_2016.jpg) -->
    </div>
</div>